.sobre {
  margin-top: 120px;
  display: grid;
  justify-items: center;
  text-align: center;
  margin-bottom: 120px;
}

.title {
  margin-bottom: 40px;
}

.sobre p {
  max-width: 100ch;
}

@media (max-width: 500px) {
  .sobre {
    padding: 0px 20px;
  }
}