.introducaoBG img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.introducaoBG {
  position: relative;
  z-index: 5;
  margin-bottom: 120px;
}

.introducaoContent {
  display: grid;
  gap: 20px;
  bottom: 100px;
  position: absolute;
}

.titulo {
  font-weight: bold;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 2rem;
  }
  .introducaoContent {
    padding: 20px;
  }

  .produto {
    font-size: 1.5rem !important;
  }
}