.headerBG {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 999;
  width: 100%;
}

.headerBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.headerResp {
  display: none;
}

.headerLogo {
  justify-self: left;
}

.headerSearch {
  display: flex;
  justify-self: center;
  height: 50px;
  background: rgba(95, 95, 95, 0.2);
  padding: 5px 10px;
  border: 2px solid rgba(125, 125, 125, 0.1);
  border-radius: 40px;
  width: 100%;
}

.headerSearch input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.searchIcon {
  align-content: center;
  border-radius: 20px;
  padding: 2px 20px;
}

.searchIcon img {
  max-width: max-content !important;
}

.searchIcon:hover {
  background: var(--color-s1);
}

.headerSearch input:hover + .searchIcon {
  background: var(--color-s1);
}

.headerIcons {
  display: flex;
  justify-self: right;
  padding: 10px;
  gap: 40px;
  width: max-content;
}

.iconItem {
  padding: 10px;
  border-radius: 10px;
}

.iconItem:hover {
  background: var(--color-s1);
  transition: 0.2s;
}

.subHeader {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.subHeader a {
  padding: 5px 20px;
}

.subHeader a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 5px;
}

@media (max-width: 1100px) {
  .subHeader {
    display: none;
  }
  .headerBox {
    border: none;
  }
}

@media (max-width: 900px) {
  .headerBox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 40px;
  }
  .headerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px 0px 0px;
  }
  .headerIcons {
    display: none;
  }
  .headerResp {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .headerResp a {
    padding: 10px;
    border-radius: 10px;
  }
  .headerResp a:hover {
    background: var(--color-s1);
    transition: .2s;
  }
  .headerBox {
    padding: 0px 10px !important;
  }
}

@media (max-width: 400px) {
  .headerResp {
    gap: 0px;
  }
}